<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.TMemberMapper">
  <resultMap id="BaseResultMap" type="com.springboot.entity.TMember">
    <result column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="m_accountname" jdbcType="VARCHAR" property="mAccountname" />
    <result column="m_nickname" jdbcType="VARCHAR" property="mNickname" />
    <result column="m_password" jdbcType="VARCHAR" property="mPassword" />
    <result column="m_email" jdbcType="VARCHAR" property="mEmail" />
    <result column="m_phone" jdbcType="VARCHAR" property="mPhone" />
    <result column="m_createtime" jdbcType="VARCHAR" property="mCreatetime" />
    <result column="m_signature" jdbcType="VARCHAR" property="mSignature" />
    <result column="m_status" jdbcType="CHAR" property="mStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, m_accountname, m_nickname, m_password, m_email, m_phone, m_createtime, m_signature, 
    m_status
  </sql>
  <select id="selectByExample" parameterType="com.springboot.entity.TMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.springboot.entity.TMemberExample">
    delete from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springboot.entity.TMember">
    insert into member (m_id, m_accountname, m_nickname, 
      m_password, m_email, m_phone, 
      m_createtime, m_signature, m_status
      )
    values (#{mId,jdbcType=INTEGER}, #{mAccountname,jdbcType=VARCHAR}, #{mNickname,jdbcType=VARCHAR}, 
      #{mPassword,jdbcType=VARCHAR}, #{mEmail,jdbcType=VARCHAR}, #{mPhone,jdbcType=VARCHAR}, 
      #{mCreatetime,jdbcType=VARCHAR}, #{mSignature,jdbcType=VARCHAR}, #{mStatus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.entity.TMember">
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="mAccountname != null">
        m_accountname,
      </if>
      <if test="mNickname != null">
        m_nickname,
      </if>
      <if test="mPassword != null">
        m_password,
      </if>
      <if test="mEmail != null">
        m_email,
      </if>
      <if test="mPhone != null">
        m_phone,
      </if>
      <if test="mCreatetime != null">
        m_createtime,
      </if>
      <if test="mSignature != null">
        m_signature,
      </if>
      <if test="mStatus != null">
        m_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="mAccountname != null">
        #{mAccountname,jdbcType=VARCHAR},
      </if>
      <if test="mNickname != null">
        #{mNickname,jdbcType=VARCHAR},
      </if>
      <if test="mPassword != null">
        #{mPassword,jdbcType=VARCHAR},
      </if>
      <if test="mEmail != null">
        #{mEmail,jdbcType=VARCHAR},
      </if>
      <if test="mPhone != null">
        #{mPhone,jdbcType=VARCHAR},
      </if>
      <if test="mCreatetime != null">
        #{mCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="mSignature != null">
        #{mSignature,jdbcType=VARCHAR},
      </if>
      <if test="mStatus != null">
        #{mStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springboot.entity.TMemberExample" resultType="java.lang.Long">
    select count(*) from member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update member
    <set>
      <if test="record.mId != null">
        m_id = #{record.mId,jdbcType=INTEGER},
      </if>
      <if test="record.mAccountname != null">
        m_accountname = #{record.mAccountname,jdbcType=VARCHAR},
      </if>
      <if test="record.mNickname != null">
        m_nickname = #{record.mNickname,jdbcType=VARCHAR},
      </if>
      <if test="record.mPassword != null">
        m_password = #{record.mPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mEmail != null">
        m_email = #{record.mEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.mPhone != null">
        m_phone = #{record.mPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mCreatetime != null">
        m_createtime = #{record.mCreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.mSignature != null">
        m_signature = #{record.mSignature,jdbcType=VARCHAR},
      </if>
      <if test="record.mStatus != null">
        m_status = #{record.mStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update member
    set m_id = #{record.mId,jdbcType=INTEGER},
      m_accountname = #{record.mAccountname,jdbcType=VARCHAR},
      m_nickname = #{record.mNickname,jdbcType=VARCHAR},
      m_password = #{record.mPassword,jdbcType=VARCHAR},
      m_email = #{record.mEmail,jdbcType=VARCHAR},
      m_phone = #{record.mPhone,jdbcType=VARCHAR},
      m_createtime = #{record.mCreatetime,jdbcType=VARCHAR},
      m_signature = #{record.mSignature,jdbcType=VARCHAR},
      m_status = #{record.mStatus,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>